<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  
	<Product Id="*" Name="TotalCmd" Language="1033" Version="$(var.ProductVersion)" Manufacturer="STP" UpgradeCode="ddaed314-7b67-4c5e-959b-50da77589586">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="TESTFILEPRODUCTDIR" />

  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="TESTFILEPRODUCTDIR" Name="Program" />
			</Directory>
		</Directory>    
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="TESTFILEPRODUCTDIR">
      <Component Id="MainExecutable" KeyPath="yes" Guid="481C0AC6-5672-4AED-86D5-AF613B5B9C9E">
        <File Source="$(var.SolutionDir)\TotalCmd\bin\Debug\TotalCmd.exe" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>